<div class="container px-5 py-4">
    <h2 class="fw-semibold texto-azul-004884 mb-3">Encuestas</h2>
    <div class="d-flex justify-content-between align-items-center mb-4">
        <app-input-busqueda></app-input-busqueda>
        <button type="button" class="boton primario relleno">Exportar</button>
        <button type="button" class="boton primario relleno">Resumen</button>
    </div>
    <div class="d-flex">
        <table class="table">
            <thead>
                <tr class="fs-14px">
                    <th class="encabezado-tabla"></th>
                    <th class="encabezado-tabla">No. Reporte</th>
                    <th class="encabezado-tabla">Encuesta</th>
                    <th class="encabezado-tabla">Descripción</th>
                    <th class="encabezado-tabla">Fecha inicio</th>
                    <th class="encabezado-tabla">Fecha final</th>
                    <th class="encabezado-tabla">Fecha de envío a ST</th>
                    <th class="encabezado-tabla">Razón social - NIT</th>
                    <th class="encabezado-tabla">Email</th>
                    <th class="encabezado-tabla">Estado actual</th>
                </tr>
            </thead>
            <tbody class="fs-14px">
                <tr *ngFor="let reporte of reportes ; let i = index">
                    <td><img 
                        [routerLink]="['/administrar', 'encuesta', reporte.idEncuestaDiligenciada]"
                        [queryParams]="{ vigilado: reporte.razonSocial, reporte: reporte.numeroReporte }"  
                        class="cursor-pointer" src="assets/img/buscar-documento.png" alt="buscar-encuesta" draggable="false"></td>
                    <td>{{ reporte.numeroReporte }}</td>
                    <td>{{ reporte.encuesta }}</td>
                    <td>{{ reporte.descripcion }}</td>
                    <td>{{ reporte.fechaInicio }}</td>
                    <td>{{ reporte.fechaFinal }}</td>
                    <td>{{ reporte.fechaEnvioST }}</td>
                    <td>{{ reporte.razonSocial }} - {{ reporte.nit }}</td>
                    <td>{{ reporte.email }}</td>
                    <td>{{ reporte.estado }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <ngb-pagination 
        [collectionSize]="this.paginador.totalRegistros ?? 0" 
        [page]="this.paginador.pagina"
        (pageChange)="this.paginador.cambiarPagina($event)"
        [pageSize]="this.paginador.limite"
        ></ngb-pagination>
    </div>
</div>