<div class="px-md-3 px-lg-4 mt-4">
    <h2 class="fw-semibold texto-azul-004884 mb-3" *ngIf="idEncuesta != 1 && idEncuesta != 2">Encuestas</h2>
    <h2 class="fw-semibold texto-azul-004884 mb-3" *ngIf="idEncuesta == 1 || idEncuesta == 2">Encuestas fase {{idEncuesta}}</h2>
    <div class="d-flex justify-content-between align-items-center mb-4">
        <app-input-busqueda *ngIf="this.rol && this.rol.id != '003'"></app-input-busqueda>
    </div>
    <div class="d-flex">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="fs-14px">
                        <th class="encabezado-tabla"></th>
                        <th class="encabezado-tabla">No. Reporte</th>
                        <th class="encabezado-tabla">Encuesta</th>
                        <th class="encabezado-tabla" width="300px">Descripción</th>
                        <th class="encabezado-tabla" width="120px">Fecha inicio</th>
                        <th class="encabezado-tabla" width="120px">Fecha final</th>
                        <th class="encabezado-tabla" width="120px">Fecha de envío a ST</th>
                        <th class="encabezado-tabla" width="240px">Razón social - NIT</th>
                        <th class="encabezado-tabla">Email</th>
                        <th class="encabezado-tabla">Estado actual</th>
                    </tr>
                </thead>
                <tbody class="fs-14px">
                    <tr *ngFor="let reporte of reportes ; let i = index">
                        <td><img 
                            [routerLink]="['/administrar', 'encuesta', reporte.idEncuestaDiligenciada]"
                            [queryParams]="{ vigilado: reporte.idVigilado , reporte: reporte.numeroReporte }"  
                            class="cursor-pointer" src="assets/img/buscar-documento.png" alt="buscar-encuesta" draggable="false"></td>
                        <td>{{ reporte.numeroReporte }}</td>
                        <td>{{ reporte.encuesta }}</td>
                        <td>{{ reporte.descripcion }}</td>
                        <td>{{ reporte.fechaInicio | fecha: 'dd/MM/yyyy' }}</td>
                        <td>{{ reporte.fechaFinal | fecha: 'dd/MM/yyyy' }}</td>
                        <td>{{ reporte.fechaEnvioST | fecha: 'dd/MM/yyyy'}}</td>
                        <td>{{ reporte.razonSocial }} - {{ reporte.nit }}</td>
                        <td>{{ reporte.email }}</td>
                        <td>{{ reporte.estado }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center mt-3">
        <ngb-pagination
        *ngIf="this.paginador.totalRegistros && this.paginador.totalRegistros > 5"
        [collectionSize]="this.paginador.totalRegistros" 
        [page]="this.paginador.pagina"
        [maxSize]="6"
        (pageChange)="this.paginador.cambiarPagina($event)"
        [pageSize]="this.paginador.limite"
        ></ngb-pagination>
    </div>
</div>