<div class="row w-100">
    <div class="col-2 columna">
        <div class="d-flex justify-content-center">
            <span class="fs-14px">1</span>
        </div>
    </div>
    <!-- Pregunta -->
    <div class="col-4 columna">
        <div class="d-flex justify-content-start">
            <span class="fs-14px">¿La empresa cuenta con un PESV implementado conforme la Resolución 1565 de 2014?</span>
        </div>
    </div>
    <!-- Valor | Respuesta -->
    <div class="col-2 columna bg-e3fceb">
        <div class="d-flex justify-content-start">
            <span class="fs-14px">SI</span>
        </div>
    </div>
    <div class="col-2 columna">
        <div class="d-flex justify-content-start">
            <span class="fs-14px">Certificación del Rep. Legal en PDF</span>
        </div>
    </div>
    <div class="col-2 columna">
        <div class="d-flex justify-content-start">
        </div>
    </div>
</div>