<div class="pregunta-encuesta d-flex mx-0" [ngClass]="{'invalido': invalida}">
    <div class="col-1 columna border-top">
        <div class="d-flex justify-content-center">
            <span class="fs-14px">{{ pregunta.numeroPregunta }}</span>
        </div>
    </div>
    <!-- Pregunta -->
    <div class="col-4 columna border-top">
        <div class="d-flex justify-content-start">
            <span class="validacion fw-semibold" *ngIf="pregunta.obligatoria">*</span>
            <span class="fs-14px">{{ pregunta.pregunta }}</span>
        </div>
    </div>
    <!-- Valor | Respuesta -->
    <div 
    class="col-2 columna border-top" 
    [ngClass]="clasesRespuestas">
        <div class="d-flex justify-content-start">
            <div class="d-block w-100">
                <select [disabled]="soloLectura" [(ngModel)]="valor" class="form-select" (change)="alCambiarRespuesta(this.valor)">
                    <option value="">Escoge una opción.</option>
                    <option *ngFor="let opcion of pregunta.valoresPregunta" [value]="opcion.valor">
                        {{ opcion.clave }}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-2 columna border-top">
        <div class="d-flex justify-content-start">
            <span class="fs-14px">{{ pregunta.tipoDeEvidencia }}</span>
        </div>
    </div>
    <!-- Seleccionar | ver archivo -->
    <div class="col-3 columna border-top">
        <div class="d-flex w-100 flex-column flex-gap-10">
            <div class="w-100" [ngClass]="{'d-none': soloLectura}">
                <app-input-archivo
                [disabled]="archivoDeshabilitado"
                (change)="alCambiarArchivo()"
                [nombre]="pregunta.idPregunta.toString()" 
                [acepta]="['application/pdf']"
                [(ngModel)]="documento"/>
            </div>
            <div class="w-100 fs-12px cursor-pointer" (click)="descargarArchivo(pregunta.documento, pregunta.ruta, pregunta.nombreOriginal)">
                <img src="assets/img/iconos/icono_pdf.gif">
                <span 
                ngbPopover="Descargar {{pregunta.nombreOriginal}}"
                triggers="mouseenter:mouseleave" 
                class="nombre-original-archivo ms-2">
                {{ pregunta.nombreOriginal }}
                </span>
                <span class="ms-2" *ngIf="!pregunta.documento || pregunta.documento == ''">Sin documento cargado.</span>
            </div>
        </div>
    </div>
    <div class="col-3 columna border-top" *ngIf="justificable && !camposDeVerificacion">
        <div class="d-flex justify-content-start">
            <select
            [disabled]="motivoDeshabilitado"
            (change)="alCambiarObservacion()"
            class="form-select" 
             [(ngModel)]="observacion">
                <option value="">Selecciona una opción</option>
                <option [value]="motivo.id" *ngFor="let motivo of motivos">{{ motivo.descripcion }}</option>
            </select>
        </div>
    </div>
    <!-- Campos verificador -->
    <div class="col-3 columna border-top" *ngIf="camposDeVerificacion">
        <div class="d-flex justify-content-start">
            <select name="" id="" class="form-select">
                <option value="">Selecciona una opción</option>
                <option value="">Aplica</option>
                <option value="">No aplica</option>
            </select>
        </div>
    </div>
    <div class="col-3 columna border-top" *ngIf="camposDeVerificacion">
        <div class="d-flex justify-content-start">
            <textarea
            class="form-control" 
            cols="30"
             rows="5"></textarea>
        </div>
    </div>
    <div class="col-3 columna border-top" *ngIf="camposDeVerificacion">
        <select name="" id="" class="form-select">
            <option value="">Selecciona una opción</option>
            <option value="">Aplica</option>
            <option value="">No aplica</option>
        </select>
    </div>
    <div class="col-3 columna border-top" *ngIf="camposDeVerificacion">
        <div class="d-flex justify-content-start">
            <textarea
            class="form-control" 
            cols="30"
            rows="5"></textarea>
        </div>
    </div>
</div>