.columna{
    box-sizing: border-box;
    padding: 12px 15px;
}
.bg-e3fceb{
    background-color: #e3fceb;
}
.respuesta-positiva{
    background-color: #E3FCEB;
}

.respuesta-negativa{
    background-color: #FCECEB;
}
.nombre-original-archivo:hover{
    color: var(--azul);
}