:host{
    display: block;
    width: 100%;
    height: 100%;
}
.input-cantidad{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 5px;
}
.input-cantidad:disabled{
    background-color: #f4f4f4;
}
.input-cantidad.cero{
    color: #bababa;
}
.input-cantidad.invalido{
/*     box-shadow: 0px 0px 3px inset #e3b0b0; */
}
.input-cantidad.invalido.cero{
    color: #da9292;
}