<nav class="menu d-flex" *ngIf="this.rol && this.rol.modulos">
  <ul class="modulos">
    <li class="modulo" *ngFor="let modulo of this.rol.modulos" routerLink="/administrar/{{modulo.ruta}}">
      {{modulo.nombre}}
      <ul class="submodulos" *ngIf="modulo.submodulos">
        <li class="submodulo" *ngFor="let submodulo of modulo.submodulos">
          {{ submodulo.nombre }}
        </li>
      </ul>
    </li>
    <li class="modulo">
      Seguridad
      <ul class="submodulos">
        <li class="submodulo" (click)="cerrarSesion()">
          Salir
        </li>
      </ul>
    </li>
  </ul>
  <div class="d-flex align-items-center justify-content-end ms-auto" *ngIf="usuario">
    <span class="fs-12px p-3 cursor-pointer">{{ usuario.nombre }} {{ usuario.apellido }}</span>
  </div>
</nav>

<!-- <div *ngIf="this.rol && this.rol._modulos">
  <div class="d-flex flex-column" *ngFor="let module of this.rol._modulos">
    <hr>
    <div class="d-flex click" routerLink="/administrar/{{module._ruta}}">
      <span class="me-2">
        <img draggable="false" [src]="module._icono" [alt]="module._nombreMostrar">
      </span>
      <span class="fs-12px fw-semibold">
        {{module._nombreMostrar}}
      </span>
    </div>
  </div>
</div> -->
