.imagen-ministerio,.imagen-supertransporte{
    height: 60px;
}
.imagen-ministerio img,.imagen-supertransporte img{
    width: auto;
    height: 100%;
}
.tabla-clasificacion td{
    padding: 7px 7px;
}
.tabla-clasificacion th{
    padding: 7px 7px;
}