<div class="px-sm-3 px-md-5">
    <div class="d-flex">
        <div class="d-block imagen-ministerio"><img src="assets/img/cabecera/ministerio.jpg"></div>
        <div class="d-block ms-auto imagen-supertransporte"><img src="assets/img/cabecera/supertransporte.png"></div>
    </div>
    <div class="d-block w-100">
        <h2 class="fs-20px fw-semibold texto-azul-004884 mb-3 text-center mt-3 w-100">
            Tamaño de la organización
        </h2>
        <p class="fs-16px">
            Según lo estipulado en la resolución 20223040040595 de 2022 
            “Capítulo 1 Misionalidad 1 
            Empresas dedicadas a la prestación del servicio de transporte terrestre automotor”.
        </p>
        <div class="d-flex align-items-center flex-gap-30">
            <span class="fs-16px">Su organización se encuentra clasificada en el nivel</span>
            <div class="d-flex border p-3 justify-content-center align-items-center">
                <span class="fs-18px fw-semibold">{{ clasificacion }}</span>
            </div>
        </div>
        <table class="table-bordered my-3 tabla-clasificacion">
            <thead>
                <tr>
                    <th colspan="2" class="align-middle encabezado-tabla">
                        <div class="fw-normal">
                            Nivel diseño implementación PESV
                        </div>
                    </th>
                    <th class="align-middle encabezado-tabla">
                        <div class="d-flex flex-column fw-normal">
                            <div>
                                Empresas prestadoras de servicio Transporte Terrestre Automotor
                            </div>
                            <hr>
                            <div class="d-flex justify-content-around">
                                <div>Vehículos</div>
                                <div>Conductores</div>
                            </div>
                        </div>
                    </th>
                    <th class="align-middle encabezado-tabla">
                        <div class="d-flex flex-column fw-normal">
                            <div>
                                Empresas con actividad diferente al transporte
                            </div>
                            <hr>
                            <div class="d-flex justify-content-around">
                                <div>Vehículos</div>
                                <div>Conductores</div>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="4">Tamaño organización</td>
                </tr>
                <tr>
                    <td>Básico</td>
                    <td>
                        <div class="d-flex justify-content-around">
                            <div>11 - 19</div>
                            <div>2 - 19</div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-around">
                            <div>11 - 49</div>
                            <div>2 - 49</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Estandar</td>
                    <td>
                        <div class="d-flex justify-content-around">
                            <div>20 - 50</div>
                            <div>20 - 50</div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-around">
                            <div>50 - 100</div>
                            <div>50 - 100</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Avanzado</td>
                    <td>
                        <div class="d-flex justify-content-around">
                            <div>> 50</div>
                            <div>> 50</div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-around">
                            <div>> 100</div>
                            <div>> 100</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex">
            <span class="fs-16px">Esta clasificación esta basada en la información suministrada en el filtro anterior </span>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-3">
            <button class="boton primario relleno" [routerLink]="['/administrar', 'encuestas', '1']">Continuar</button>
        </div>
    </div>
</div>