.imagen-ministerio,.imagen-supertransporte{
    height: 60px;
}
.imagen-ministerio img,.imagen-supertransporte img{
    width: auto;
    height: 100%;
}
.accordion-button{
    color: var(--azul-oscuro);
    font-weight: 600;
/*     background-color: var(--azul-claro); */
}
