<div class="px-sm-3 px-md-5" *ngIf="filtros">
    <div class="d-block w-100">
        <h3 class="fs-20px fw-semibold texto-azul-004884 mb-3 text-center mt-3 w-100">Categorización</h3>
        <p>Estimado vigilado, tenga en cuenta que la información suministrada deberá ser veraz, completa, exacta, actualizada y comprobable, de conformidad con lo dispuesto en la Ley 366 de 1996 y decretos reglamentarios.</p>
        <p>De acuerdo con lo anterior, la información debe estar acorde a lo estipulado en la resolución 20223040040595 de 2022 y así mismo determinar si su empresa se encuentra en Nivel Básico,  Nivel Estándar, Nivel Avanzado.</p>
    </div>
    <div class="mb-3">
        <app-formulario-modalidad-radio-operacion #formularioModalidades [modalidadRadio]="filtros.modalidadRadio" />
    </div>

    <div class="mb-3" *ngFor="let tipoCategoria of filtros.tipoCategoria">
        <app-tipo-categoria
        #tipoCategoria 
        [tipoCategoria]="tipoCategoria" />
    </div>


    
    
    <div class="d-flex align-items-center justify-content-end">
        <button type="button" class="boton primario relleno mb-5" (click)="guardarInformacion()">Guardar</button>
    </div>
</div>
<app-modal-confirmacion #modalConfirmacion></app-modal-confirmacion>
<app-popup #popup />