<div class="px-sm-3 px-md-5" *ngIf="filtros">
    <div class="d-flex">
        <div class="d-block imagen-ministerio"><img src="assets/img/cabecera/ministerio.jpg"></div>
        <div class="d-block ms-auto imagen-supertransporte"><img src="assets/img/cabecera/supertransporte.png"></div>
    </div>
    <div class="d-block w-100">
        <h2 class="fs-20px fw-semibold texto-azul-004884 mb-3 text-center mt-3 w-100">CATEGORIZACIÓN</h2>
    </div>
    <section class="mb-4 p-3">
        <h3 class="fs-18px fw-semibold texto-azul-004884 mb-3 mt-3 w-100">Datos de modalidad y radio de acción.</h3>
        <app-formulario-modalidad-radio-operacion
        #formularioModalidades
        [modalidadRadio]="filtros.modalidadRadio"/>
        <hr>
    </section>
    <section class="mb-4 p-3">
        <app-tipo-categoria #tipoCategoria *ngFor="let tipoCategoria of filtros.tipoCategoria" [tipoCategoria]="tipoCategoria"></app-tipo-categoria>
    </section>
    <div class="d-flex align-items-center justify-content-end">
        <button type="button" class="boton primario relleno mb-5" (click)="guardarInformacion()">Guardar</button>
    </div>
</div>
<app-modal-confirmacion #modalConfirmacion></app-modal-confirmacion>
<app-popup #popup />