<div class="px-sm-3 px-md-5" *ngIf="filtros">
    
    <div class="d-flex">
        <div class="d-block imagen-ministerio"><img src="assets/img/cabecera/ministerio.jpg"></div>
        <div class="d-block ms-auto imagen-supertransporte"><img src="assets/img/cabecera/supertransporte.png"></div>
    </div>
    <div class="d-block w-100">
        <h3 class="fs-20px fw-semibold texto-azul-004884 mb-3 text-center mt-3 w-100">Categorización</h3>
    </div>

    <div ngbAccordion class="mb-3">
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Datos de modalidad y radio de acción</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div class="p-3">
                            <app-formulario-modalidad-radio-operacion #formularioModalidades [modalidadRadio]="filtros.modalidadRadio" />
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

    <app-tipo-categoria
    #tipoCategoria 
    *ngFor="let tipoCategoria of filtros.tipoCategoria"
    [tipoCategoria]="tipoCategoria" />
    
    <div class="d-flex align-items-center justify-content-end">
        <button type="button" class="boton primario relleno mb-5" (click)="guardarInformacion()">Guardar</button>
    </div>
</div>
<app-modal-confirmacion #modalConfirmacion></app-modal-confirmacion>
<app-popup #popup />