<div class="p-md-3 p-lg-5">
    <h3 class="texto-primario fw-semibold" *ngIf="encuesta">
        Resumen - Ficha cuestionario - {{encuesta.nombreEncuesta}}
    </h3>
    <h4 class="texto-primario fw-semibold">Reporte número {{idReporte}}</h4>
    <form class="col-sm-100 col-md-7 mb-4" *ngIf="encuesta">
        <div class="row mb-2">
            <div class="col">NIT</div>
            <div class="col">
                <input type="text" class="form-control" disabled [value]="encuesta.idVigilado">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">Razón social</div>
            <div class="col">
                <input type="text" class="form-control" disabled [value]="encuesta.razonSocila">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">Estado actual</div>
            <div class="col">
                <input type="text" class="form-control" disabled [value]="encuesta.estadoActual">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">Clasificación según resolución 20223040040595 DE 2022</div>
            <div class="col">
                <input type="text" class="form-control" disabled [value]="clasificacionResolucion">
            </div>
        </div>
    </form>
    <div class="d-flex justify-content-between align-items-center mb-4">
        <button type="button" class="boton primario relleno">Enviar a ST</button>
        <button type="button" class="boton primario relleno" (click)="guardarVerificaciones()">Guardar</button>
        <button class="boton primario delineado" [routerLink]="['/administrar', 'verificar-reportes']">Volver</button>
    </div>
    <app-encuesta
        *ngIf="encuesta && idReporte && idEncuesta && idVigilado" 
        #componenteEncuesta 
        [soloLectura]="true" 
        class="w-100" 
        [idVigilado]="idVigilado"
        [idReporte]="idReporte"
        [encuesta]="encuesta"
        [idEncuesta]="idEncuesta"
        [camposDeVerificacion]="true"/>
</div>