<ul ngbNav #nav="ngbNav" class="nav-tabs w-100">
    <li ngbNavItem *ngFor="let formulario of formularios">
        <button ngbNavLink>{{ formulario.nombre }}</button>
        <ng-template ngbNavContent>
            <app-tab-encuesta-cuantitativa
            [subindicadores]="formulario.subIndicador"
            [estadoRespuestas]="estadoRespuestas" 
            (nuevaRespuesta)="manejarNuevaRespuesta($event)"/>
        </ng-template>
    </li>
</ul>
<div [ngbNavOutlet]="nav" class="w-100"></div>
<div class="d-flex justify-content-end mt-4">
    <button 
    class="boton primario relleno" 
    [disabled]="!hayCambios"
    (click)="guardar()">Guardar</button>
</div>
<app-popup #popup />
