<div class="container px-5 py-4">
    <h2 class="fw-semibold texto-azul-004884 mb-3">	Resumen - Ficha cuestionario</h2>
    <div class="d-flex justify-content-between align-items-center mb-4">
        <button type="button" class="boton primario relleno">Exportar</button>
        <button type="button" class="boton primario delineado">Volver</button>
    </div>
    <div class="d-flex w-100">
        <app-encuesta [soloLectura]="false" *ngIf="encuesta" class="w-100" [encuesta]="encuesta"/>
    </div>
</div>