<div class="px-sm-2 px-md-3 px-lg-4 my-4" *ngIf="encuesta">
    <h2 class="fw-semibold texto-primario mb-3">Resumen - Ficha cuestionario - {{encuesta.nombreEncuesta}}</h2>
    <h3 class="fw-semibold texto-primario">Clasificación: {{encuesta.clasificaion}}</h3>
    <p>{{encuesta.descripcionClasificacion}}</p>
    <div class="d-block w-100 mb-3">
        <div class="d-block" *ngIf="usuario">
            <span class="fs-14px fw-semibold texto-azul-004884">Quien realiza la encuesta: </span>
            <span>{{ usuario.usuario }}</span>
        </div>
        <div class="d-block " *ngIf="idVigilado && (usuario!.usuario !== idVigilado)">
            <span class="fs-14px fw-semibold texto-azul-004884">A quien se le realiza la encuesta: </span>
            <span>{{ idVigilado }}</span>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div ngbDropdown>
            <button 
            ngbDropdownToggle 
            type="button" 
            class="boton primario relleno" 
            id="dropdownBasic1">Exportar</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="this.exportarExcel()">Excel</button>
                <button ngbDropdownItem (click)="this.exportarPDF()">PDF</button>
            </div>
        </div>
        <button 
        type="button" 
        class="boton primario delineado" 
        (click)="enviarEncuesta()"
        [disabled]="hayCambios">Enviar a ST</button>
        <button 
        type="button" 
        class="boton primario relleno" 
        (click)="guardarEncuesta()"
        [disabled]="!hayCambios">Guardar</button>
        <button type="button" class="boton primario delineado" [routerLink]="['/administrar', 'encuestas', idEncuesta]">Volver</button>
    </div>
    <div class="d-flex w-100">
        <app-encuesta
        #componenteEncuesta
        class="w-100"
        *ngIf="encuesta && idReporte && idEncuesta && idVigilado" 
        [soloLectura]="soloLectura" 
        [idVigilado]="idVigilado"
        [idReporte]="idReporte"
        [encuesta]="encuesta"
        [idEncuesta]="idEncuesta"
        [justificable]="encuesta.observacion"
        (hanHabidoCambios)="setHayCambios($event)"/>
    </div>
</div>
<app-popup #popup/>