.clasificacion{
    box-sizing: border-box;
    padding: 12px 0;
}
.clasificacion:hover{
    background-color: #f8f8f8;
}
.encabezado{
    box-sizing: border-box;
    padding: 12px 15px;
    background-color: #E6EFFD;
    color: #004884;
    font-weight: 600;
}