<div class="w-100">
    <div class="clasificacion d-flex w-100 cursor-pointer" (click)="alternarDesplegar()">
        <span>
            <img *ngIf="desplegado" src="assets/img/desplegado.png" class="cursor-pointer" draggable="false">
            <img *ngIf="!desplegado" src="assets/img/replegado.png" class="cursor-pointer" draggable="false">
        </span>
        <span class="texto-azul-004884 fs-14px fw-semibold">
            General
        </span>
    </div>
    <div class="w-100" [ngClass]="{'d-none': !desplegado, 'd-block': desplegado}">
        <div class="row m-none">
            <div class="col-2 encabezado">
                <div class="d-flex justify-content-center">
                    <span class="fs-14px">No.</span>
                </div>
            </div>
            <div class="col-4 encabezado">
                <div class="d-flex justify-content-start">
                    <span class="fs-14px">Pregunta</span>
                </div>
            </div>
            <div class="col-2 encabezado">
                <div class="d-flex justify-content-start">
                    <span class="fs-14px">¿Existe?</span>
                </div>
            </div>
            <div class="col-2 encabezado">
                <div class="d-flex justify-content-start">
                    <span class="fs-14px">Tipo de evidencia</span>
                </div>
            </div>
            <div class="col-2 encabezado">
                <div class="d-flex justify-content-start">
                    <span class="fs-14px">Documento</span>
                </div>
            </div>
        </div>
        <app-pregunta-encuesta></app-pregunta-encuesta>
    </div>
</div>