<div class="w-100">
    <div class="clasificacion d-flex w-100 cursor-pointer" (click)="alternarDesplegar()">
        <span>
            <img *ngIf="desplegado" src="assets/img/desplegado.png" class="cursor-pointer" draggable="false">
            <img *ngIf="!desplegado" src="assets/img/replegado.png" class="cursor-pointer" draggable="false">
        </span>
        <span class="texto-azul-004884 fs-14px fw-semibold">
            {{ clasificacion.clasificacion }}
        </span>
    </div>
    <div class="w-100 overflow-auto" [ngClass]="{'d-none': !desplegado, 'd-block': desplegado}">
        <div class="d-flex mx-0">
            <div class="col-2 encabezado">
                <div class="d-flex justify-content-center">
                    <span class="fs-14px">No.</span>
                </div>
            </div>
            <div class="col-3 encabezado">
                <div class="d-flex justify-content-start">
                    <span class="fs-14px">Pregunta</span>
                </div>
            </div>
            <div class="col-2 encabezado">
                <div class="d-flex justify-content-start">
                    <span class="fs-14px">¿Existe?</span>
                </div>
            </div>
            <div class="col-2 encabezado">
                <div class="d-flex justify-content-start">
                    <span class="fs-14px">Tipo de evidencia</span>
                </div>
            </div>
            <div class="col-3 encabezado">
                <div class="d-flex justify-content-start">
                    <span class="fs-14px">Documento</span>
                </div>
            </div>
            <div class="col-3 encabezado" *ngIf="!camposDeVerificacion">
                <div class="d-flex justify-content-start">
                    <span class="fs-14px">Observación</span>
                </div>
            </div>
            <div class="col-3 encabezado" *ngIf="camposDeVerificacion">
                <div class="d-flex justify-content-start">
                    <span class="fs-14px">¿La evidencia corresponde a lo solicitado?</span>
                </div>
            </div>
            <div class="col-3 encabezado" *ngIf="camposDeVerificacion">
                <div class="d-flex justify-content-start">
                    <span class="fs-14px">Observación</span>
                </div>
            </div>
            <div class="col-3 encabezado" *ngIf="camposDeVerificacion">
                <div class="d-flex justify-content-start">
                    <span class="fs-14px">¿El documento cumple con la información o estructura solicitada?</span>
                </div>
            </div>
            <div class="col-3 encabezado" *ngIf="camposDeVerificacion">
                <div class="d-flex justify-content-start">
                    <span class="fs-14px">Observación</span>
                </div>
            </div>

        </div>
        <app-pregunta-encuesta
        [soloLectura]="soloLectura"
        *ngFor="let pregunta of clasificacion.preguntas" 
        [pregunta]="pregunta"
        [idVigilado]="idVigilado"
        [justificable]="observacion"
        [camposDeVerificacion]="camposDeVerificacion"
        (valorModificado)="agregarPreguntaRespondida($event)"/>
    </div>
</div>