<app-acordeon [invalido]="!valido">
    <div cabecera class="d-flex">
        <span class="d-flex align-items-center mb-0 fs-16px texto-primario fw-semibold mx-2">
            Datos de modalidad y radio de acción
        </span>
        <span class="d-flex validacion align-items-center" *ngIf="!valido">
            *
        </span>
    </div>
    <div contenido>
        <div class="p-3">
            <div class="d-flex my-3">
                <button type="button" class="boton primario relleno" (click)="mostrarFormulario()">
                    Agregar
                </button>
            </div>
            <table class="tabla-modalidad-radio table border mb-1">
                <thead>
                    <tr height="38px" class="fs-14px  fondo-secundario texto-primario">
                        <th class="fw-semibold"></th>
                        <th class="fw-semibold"></th>
                        <th class="fw-semibold" *ngFor="let cabecera of modalidadRadio.cabeceras">{{ cabecera }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr 
                    class="fs-14px" 
                    *ngIf="modalidadRadio.filas.length === 0 && registrosACrear.length === 0 && !formularioVisible">
                        <td colspan="2"></td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr class="fs-14px" *ngFor="let fila of modalidadRadio.filas"
                        [ngClass]="{ 'table-danger': esRegistroAEliminar(fila.id) }">
                        <td colspan="2">
                            <span *ngIf="esRegistroAEliminar(fila.id)" class="text-danger cursor-pointer"
                                (click)="cancelarEliminacionRegistro(fila.id)">
                                <span class="material-symbols-outlined">
                                    close
                                </span>
                            </span>
                            <span *ngIf="!esRegistroAEliminar(fila.id)" class="text-danger cursor-pointer"
                                (click)="eliminarRegistro(fila.id)">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </span>
                        </td>
                        <td>{{ fila.modalidad }}</td>
                        <td>{{ fila.radio }}</td>
                    </tr>
                    <tr class="fs-14px table-success" *ngFor="let registro of registrosACrear ; let indice = index">
                        <td colspan="2">
                            <span class="text-danger cursor-pointer" (click)="retirarDeRam(indice)">
                                <span class="material-symbols-outlined">
                                    close
                                </span>
                            </span>
                        </td>
                        <td>{{ nombreModalidad(registro.idModalidad!) }}</td>
                        <td>{{ nombreRadio(registro.idRadio!) }}</td>
                    </tr>
                    <tr class="fs-14px" [formGroup]="formulario" *ngIf="formularioVisible">
                        <td class="align-middle">
                            <span class="text-danger cursor-pointer" (click)="ocultarFormulario()">
                                <span class="material-symbols-outlined">
                                    close
                                </span>
                            </span>
                        </td>
                        <td class="align-middle">
                            <span class="text-success cursor-pointer" (click)="agregarARam()">
                                <span class="material-symbols-outlined">
                                    done
                                </span>
                            </span>
                        </td>
                        <td>
                            <select formControlName="idModalidad" style="max-width: 300px;" class="form-select">
                                <option disabled value="">Selecciona una modalidad</option>
                                <option *ngFor="let modalidad of modalidades" [value]="modalidad.id">{{ modalidad.nombre
                                    }}</option>
                            </select>
                            <app-validacion [control]="this.formulario.controls['idModalidad']"
                                [validacion]="'required'" [texto]="'Selecciona una modalidad.'" />
                        </td>
                        <td>
                            <select formControlName="idRadio" style="max-width: 300px; width: 300px;"
                                class="form-select">
                                <option disabled value="">Selecciona un radio de acción u operación</option>
                                <option *ngFor="let radio of radios" [value]="radio.id">{{ radio.nombre }}</option>
                            </select>
                            <app-validacion [control]="this.formulario.controls['idRadio']" [validacion]="'required'"
                                [texto]="'Selecciona un radio.'" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <span class="validacion" *ngIf="!valido">
                Debe haber por lo menos un registro de modalidad y radio.
            </span>
        </div>
    </div>
</app-acordeon>