<label [for]="nombre" class="input-archivo d-flex">
    <div class="archivos">
        <div class="archivo d-flex" *ngIf="archivo">
            <span class="nombre-archivo">{{ archivo.name }}</span>
            <button class="eliminar-archivo" (click)="removeFile($event)">x</button>
        </div>
    </div>
    <div class="boton-adjuntar d-flex align-items-center justify-content-center">Adjuntar</div>
    <input #input [accept]="unirAcepta()" [id]="nombre" type="file" (change)="onChangeFiles($event)">
</label>
