<div class="row">
    <div class="col-1">{{subindicador.codigo}}</div>
    <div class="col-2">{{subindicador.nombreSubIndicador}}</div>
    <div class="col-9 row">
        <div class="periodo col-2 d-flex flex-column justify-content-end" *ngFor="let periodo of subindicador.preguntas">
            <app-pregunta-encuesta-cuantitativa
            (cambio)="manejarCambioRespuesta($event)"
            [pregunta]="periodo"
            [respuesta]="obtenerEstadoRespuestaPorId(periodo.idPregunta)" />
        </div>
    </div>
</div>