<ng-template #modal>
    <div class="card">
        <div class="card-body p-5">
            <h4 class="text-danger text-center fw-semibold">¡Atencion!</h4>
            <p class="text-center">
                ¿Estás seguro de guardar la información? 
                Al momento de hacer clic en el botón Aceptar ya no le será posible 
                editar más registros. Puede dar clic en el botón Cancelar para continuar con el registro de información.
            </p>
            <div class="d-flex justify-content-center flex-gap-20">
                <button class="boton primario delineado" (click)="cerrar()">Cancelar</button>
                <button class="boton primario relleno" (click)="aceptar()">Aceptar</button>
            </div>
        </div>
    </div>
</ng-template>