.clasificaciones{
    padding: 0;
    margin: 0;
    width: 100%;
}

.clasificaciones:first-child{
    border-top: 1px solid #E6EFFD;
}
.clasificaciones>li{
    border-bottom: 1px solid #E6EFFD;
}


@media print{
    ::ng-deep .navbar{
      display: none;
    }
    ::ng-deep .menu{
      display: none !important;
    }
    ::ng-deep button{
        display: none;
    }
    ::ng-deep *{
        overflow: hidden;
    }
    ::ng-deep .clasificaciones>li{
        break-inside: avoid;
    }
    ::ng-deep .pregunta-encuesta{
        break-inside: avoid;
    }
    ::ng-deep .contenedor-encuesta{
        margin: 0;
    }
  }
  