<div class="contenedor-encuesta d-flex flex-column w-100" #contenedorEncuesta>
    <ul class="clasificaciones">
        <li *ngFor="let clasificacion of encuesta.clasificaciones">
            <app-clasificacion-encuesta 
            #clasificacion 
            [clasificacion]="clasificacion"
            [soloLectura]="soloLectura"
            [idVigilado]="idVigilado"
            [observacion]="encuesta.observacion" 
            [camposDeVerificacion]="camposDeVerificacion"
            [justificable]="justificable"
            (preguntasRespondidas)="alResponderPreguntas($event)"/>
        </li>
    </ul>
    <div class="d-flex mt-4" *ngIf="!soloLectura">
        <button class="boton primario relleno ms-auto" (click)="guardarRespuestas()">Guardar</button>
    </div>
</div>
<app-popup #popup />