<div class="d-flex flex-column w-100">
    <ul class="clasificaciones">
        <li *ngFor="let clasificacion of encuesta.clasificaciones">
            <app-clasificacion-encuesta 
            #clasificacion 
            [clasificacion]="clasificacion"
            [soloLectura]="soloLectura"/>
        </li>
    </ul>
    <div class="d-flex mt-4" *ngIf="!soloLectura">
        <button class="boton primario relleno ms-auto" (click)="guardarRespuestas()">Guardar</button>
    </div>
</div>
<app-popup #popup />