<app-acordeon [invalido]="inconsistencia || esIgualACero">
    <div cabecera class="d-flex">
        <span class="d-flex align-items-center mb-0 fs-16px texto-primario fw-semibold mx-2">
            {{ categoria.nombre }}
        </span>
        <span class="d-flex validacion align-items-center" *ngIf="inconsistencia || esIgualACero">
            *
        </span>
    </div>
    <div contenido>
        <div class="p-3">
            <div class="row">
                <div class="col-sm-12 col-md-9">
                    <div class="table-responsive">
                        <table class="table fs-14px">
                            <thead>
                                <tr>
                                    <th width="300px"></th> <!-- titulo categoria -->
                                    <!-- ----------------------------------- -->
                                    <th 
                                    class="border fondo-secundario texto-primario" 
                                    *ngFor="let cabecera of categoria.cabeceras">
                                        {{ cabecera }}
                                    </th>   
                                </tr>
                            </thead>
                            <tbody>
                                <tr #fila height="37px" *ngFor="let fila of categoria.filas ; let nFila = index"> 
                                    <td height="37px">{{ fila.nombre }}</td>
                                    <td height="37px" 
                                    class="border p-0" 
                                    *ngFor="let dato of fila.datos ; let nColumna = index">
                                        <app-selector-cantidad
                                        #selector
                                        [valor]="dato.valor ? +dato.valor : null" 
                                        [estado]="dato.estado!"
                                        [fila]="nFila"
                                        [idFila]="dato.idFila"
                                        [columna]="nColumna"
                                        [idColumna]="dato.idColumna"
                                        [totalizable]="!this.descriptiva || (this.descriptiva && nColumna === 0)"
                                        (valor)="manejarCambioDato()"
                                        (valorEspecial)="manejarCambioDatoEspecial($event)"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 d-flex flex-column align-items-center justify-content-center">
                    <table  class="table border fs-14px" [ngClass]="clases">
                        <thead>
                            <tr>
                                <th class="fondo-secundario texto-primario">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr> 
                                <td height="37px">{{ total }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <span *ngIf="inconsistencia" class="validacion fs-12px">Los totales no coinciden.</span>
                    <span *ngIf="esIgualACero" class="validacion fs-12px">El total debe ser mayor a cero.</span>
                </div>
            </div>
        </div>
    </div>
</app-acordeon>

