<div class="row">
    <div class="col-sm-12 col-md-9">
        <table class="table fs-14px">
            <thead>
                <tr>
                    <th width="300px">{{ categoria.nombre }}</th> <!-- titulo categoria -->
                    <!-- ----------------------------------- -->
                    <th 
                    class="border fondo-secundario texto-primario" 
                    *ngFor="let cabecera of categoria.cabeceras">
                        {{ cabecera }}
                    </th>   
                </tr>
            </thead>
            <tbody>
                <tr #fila height="37px" *ngFor="let fila of categoria.filas ; let nFila = index"> 
                    <td height="37px">{{ fila.nombre }}</td>
                    <td height="37px" 
                    class="border p-0" 
                    *ngFor="let dato of fila.datos ; let nColumna = index">
                        <app-selector-cantidad
                        #selector
                        [fila]="nFila"
                        [columna]="nColumna"
                        [valor]="dato.valor ? +dato.valor : null" 
                        (nuevoValor)="calcularTotal()"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 col-md-3 d-flex flex-column align-items-center justify-content-center">
        <table  class="table border fs-14px" [ngClass]="clases">
            <thead>
                <tr>
                    <th class="fondo-secundario texto-primario">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr> 
                    <td height="37px">{{ total }}</td>
                </tr>
            </tbody>
        </table>
        <span *ngIf="hayInconsistencia" class="validacion fs-12px">Los totales no coinciden.</span>
    </div>
</div>