<div class="row">
    <div class="col-sm-12 col-md-8">
        <table class="table fs-14px">
            <thead>
                <tr>
                    <th width="300px">Rol en la vía</th> <!-- titulo categoria -->
                    <!-- ----------------------------------- -->
                    <th>Eléctrico</th>
                    <th>Gasolina</th>
                    <th>Mecánica</th>
                </tr>
            </thead>
            <tbody>
                <tr height="37px" *ngFor="let fila of ['Ciclista', 'Motociclista', 'Conductor Vehículo particular']"> 
                    <td height="37px">{{ fila }}</td>
                    <td height="37px" 
                    class="border p-0" 
                    *ngFor="let valor of [1, 2, 3]">
                        <app-selector-cantidad [valor]="valor" (cambio)="$event"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 col-md-4 d-flex align-items-center justify-content-center">
        <table  class="table border fs-14px">
            <thead>
                <tr>
                    <th class="fondo-secundario texto-primario">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr> 
                    <td height="37px">20</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>