<app-acordeon [invalido]="!valido || inconsistencia">
    <div cabecera class="d-flex">
        <span class="d-flex align-items-center mb-0 fs-16px texto-primario fw-semibold mx-2">
            {{ tipoCategoria.nombre }}
        </span>
        <span class="d-flex validacion align-items-center" *ngIf="inconsistencia || !valido">
            Hay errores de validación en esta clasificación *
        </span>
    </div>
    <div contenido>
        <div class="p-3">
            <div class="mb-3" *ngFor="let categoria of tipoCategoria.categoriaClasificacion ; let i = index">
                <app-categoria 
                #categoria (cambioTotal)="manejarCambioTotalCategoria()" 
                [categoria]="categoria" />
            </div>
        </div>
    </div>
</app-acordeon>


