<div class="acordeon" [ngClass]="{'invalido': invalido}">
    <div class="cabecera-acordeon" (click)="cambiarEstadoItemActivo()" [ngClass]="{'activo': itemActivo}">
        <ng-content select="[cabecera]"></ng-content>
        <img src="assets/img/mas.png" width="20px" class="ms-auto me-2" *ngIf="!itemActivo">
        <img src="assets/img/menos.png" width="20px" class="ms-auto me-2" *ngIf="itemActivo">
    </div>
    <div class="contenido-acordeon" [ngClass]="{'activo': itemActivo}">
        <ng-content select="[contenido]"></ng-content>
    </div>
</div>