<div class="p-md-3 p-lg-5">
    <h3 class="texto-primario fw-semibold mb-4">Lista de reportes</h3>
    <div class="table-responsive">
        <table class="table fs-14px">
            <thead>
                <tr class="fw-semibold">
                    <th class="encabezado-tabla p-3">Validar</th>
                    <th class="encabezado-tabla p-3">Id</th>
                    <th class="encabezado-tabla p-3">NIT</th>
                    <th class="encabezado-tabla p-3">Razón social</th>
                    <th class="encabezado-tabla p-3">Estado</th>
                    <th class="encabezado-tabla p-3">Asignado por</th>
                    <th class="encabezado-tabla p-3">Fecha de asignación</th>
                    <th class="encabezado-tabla p-3">Estado de validación</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reporte of reportes">
                    <td class="text-center">
                        <span 
                        class="material-symbols-outlined cursor-pointer texto-gris" 
                        [routerLink]="['/administrar', 'verificar-reportes', reporte.idReporte]"
                        [queryParams]="{ idEncuesta: 1, idReporte: reporte.idReporte, idVigilado: reporte.nit }">
                        visibility
                        </span>
                    </td>
                    <td>{{ reporte.idReporte }}</td>
                    <td>{{ reporte.nit }}</td>
                    <td>{{ reporte.razonSocial }}</td>
                    <td>{{ reporte.asignado }}</td>
                    <td>{{ reporte.asignador }}</td>
                    <td>{{ reporte.fechaAsignacion | fecha: 'dd/MM/yyyy' }}</td>
                    <td>{{ reporte.estadoValidacion }}</td>
                </tr>
                <tr *ngIf="reportes.length === 0">
                    <td colspan="8" class="fw-semibold text-center">Sin reportes asignados</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-end">
        <ngb-pagination 
        [collectionSize]="this.paginador.totalRegistros ?? 0" 
        [pageSize]="this.paginador.limite"
        [page]="this.paginador.pagina"
        (pageChange)="this.paginador.cambiarPagina($event)" 
        [maxSize]="5"/>
    </div>
</div>